img{
    width: 100px;
    height: 100px; 
    float:left
}
h1{
    color:red;
    float:left;
    clear:right;
}

#m1
{
   float:left;
font-weight:bolder;
font-size:xx-large; 
font-variant: small-caps; 
font-stretch: extra-expanded;
width:40%;
}

p
{
    clear:both;
    width:40%;
}

ul
{
    list-style-type: square;
    background-color: violet;
    width:40%;
}
